

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (min-width :200px){
body {
  
  font-family: 'Cardo', serif;
  align-items: center;
    background: url('C:/Users/91848/Downloads/sunset.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  height: 100vh;
cursor: pointer;
}
}

.submit {
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  margin-top: 38px;
 outline: 0;
  text-align: center;
  width: 25%;
margin-right: 150px;
 font-family: 'Cardo', serif;
 margin-bottom: 55px;
 margin-left: 95px;
 background: none;
 border :1px solid black;
 display: flex;
 justify-content: center;
}
.submit:hover{
  backdrop-filter: blur(500px);
}
#cn
 {
  backdrop-filter: blur(10px);
  border-radius: 12px;
 border-color: black;
  box-sizing: border-box;
  border :1px solid black;
  color:black;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  margin-top: 38px;
 outline: 0;
  text-align: center;
  width: 75%;
 margin-left: 30px;
 font-family: 'Cardo', serif;
 cursor: text;
 background: none;
 display: flex;
margin-bottom: 30px;


}
#cn:hover{
backdrop-filter: blur(400px);
}
::-webkit-input-placeholder{
  color:rgba(0,0,0.9);
}
 #h3{
  font-family: 'Cardo', serif;
  margin-left: 100px;

}

h2{
  font-family: 'Cardo', serif;
  font-size: 15px;
cursor: pointer;
}

